@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    @*@foreach (var product in Model)
    {
        @if (product.Category == "Deals")
        {*@
            <div class="deal-grid">
                <div class="item2">
                    <img class="dgrid-img" src="~/img/PizzadealBig.jpg" />
                    <div class="grid-price">
                        <h3>908</h3>
                    </div>
                </div>
                <div class="item3">
                    <img class="dgrid-img" src="~/img/Pizzadeal4.jpg" />

                </div>
                <div class="item4">
                    <img class="dgrid-img" src="~/img/ExpressPizza_Express3.png" />
                    @*<div class="grid-price">
                            <h3>Here is a headline</h3>
                        </div>*@
                </div>
            </div>
        @*}
    }*@

</div>
